* {
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
}

.container { 
    max-width:420px; 
    margin:250px auto;
    margin-top: 150px;
}

#result {
    margin-top: 20px;
    height: 50px;
    min-width: 50px;
}

#operator {
    margin-top: 15px;
}

.input {
  color:black;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #979393;
  transition: all 0.3s;
  padding: 13px;
  margin-top: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.input:focus { border:2px solid #6d6c6c; }

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#b4acac;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:black;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:20px;
  font-weight:700;
}
[type="submit"]:hover { background:#666464; }